<div>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</div>

<!-- Pokemon Grid -->
<ng-container *ngFor="let pokemon of pokemons">
    <div class="pokemon-grid" *ngIf="searchText === '' || pokemon.name.toLowerCase().includes(searchText) ">
        <div class ="box">
            <img [src]="pokemon.sprites.front_default" alt="Pokemon">
            <h3>{{ pokemon.name }}</h3>
            <p>
                <b>URL:</b> {{ pokemon.species.url }}
            </p>
        </div>
    </div>
</ng-container>
 <!-- End of Pokemon Grid -->